
html, body {
  height: 100%;
  width: 100%
}

body {
  padding-top: 2%;
  background: #000;
  vertical-align: middle;
}

body.fullscreen {
  padding: 8% 0 0 0;
}

body #enter_fullscreen {
  background-color: red;
}

body.wakelock #enter_fullscreen {
  background-color: #ccc;
}

body.fullscreen #enter_fullscreen {
  display: none;
}

#clock {
  color: #D67702;
  font-family: monospace;
  font-size: 5em;
  font-weight: bold;
  font-size: 26vw;
  text-align: center;
  /* border: 1px dashed green; */
  line-height: 1;
}

#date {
  color: #ccc;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16vw;
  text-align: center;
  /* border: 1px dashed red; */
  line-height: 1;
}

/* .unit {
  border: 1px dashed blue;
} */


#hour::after {
  content: ':';
  color: #ccc;
  font-size: 50%;
  vertical-align: 45%;
}

#minute::after {
  vertical-align: 25%;
}

#seconds {
  font-weight: normal;
  font-size: 80%;
  color: #ccc;
}

#month, #day, #year {
  color: #4098F5;
}

#dayname::after {
  content: '.';
  color: #ccc;
  font-size: 50%;
}

#month::after, #day::after {
  content: '/';
  color: #ccc;
  font-size: 50%;
  vertical-align: 40%;
}

#enter_fullscreen {
  color: #ccc;
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
  font-size: 2em;
  padding: 1em;
}
