
body {
  padding-top: 5%;
  background: #000;
}


#clock {
  color: #D67702;
  font-family: monospace;
  font-size: 5em;
  font-weight: bold;
  font-size: 24vw;
  text-align: center;
  /* border: 1px dashed green; */
  line-height: 1;
}

#date {
  color: #ccc;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12vw;
  text-align: center;
  /* border: 1px dashed red; */
  line-height: 1;
}

/* .unit {
  border: 1px dashed blue;
} */

#hour::after, #minute::after {
  content: ':';
  color: #ccc;
  font-size: 50%;
}

#seconds {
  font-weight: normal;
  font-size: 80%;
  color: #ccc;
}

#month, #day, #year {
  color: #4098F5;
}

#dayname {
  padding-right: 0.25em;
}

#month::after, #day::after {
  content: '/';
  color: #ccc;
  font-size: 50%;
}

